* {
    text-align: center;
    min-width: 200px;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-item {
    margin: 10px;
}

.login-button {
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: limegreen;
    color: #111827;
}

#description {
    max-width: 700px;
    font-size: 1rem;
}

.login-button {
    min-width: 100px;
}

#title {
    font-size: 3rem;
    font-weight: bold;
}

#subtitle {
    font-size: 1.5rem;
}

#title, #subtitle {
    margin: 10px;
}

button {
    border: 0;
}