<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/css/errors/404.css">
  </head>
  <body>
    <div class="container">
      <h1>404 - Not Found</h1>
      <p><%= error %></p>
      <button><a href="/">Return to Home</a></button>
    </div>
  </body>
</html>